
button {
    cursor: pointer;
}

#products-btn {
    background:transparent;
    border: 1.5px solid #1DD1A1;
    color: #1DD1A1;
    margin-right: 10px;
}
span,p {
    color: black;
}

.main-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-div h1 {
    margin-left: 140px;
    margin-top: 40px;
}

.new-btn {
    position: fixed;
    bottom: 100px;
    right: 155px; 
    border: none;
    font-size: 17px;
    background-color: #576574;
    opacity:0.5;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    color: white;
    font-weight: 600;
    height: 50px;
    min-width: 10%;
    text-transform: uppercase;
    padding: 0px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.new-btn:hover{
    font-size: 19px;
    height: 58px;
    opacity: 2;
}

.delete-all-btn {
    border: none;
    font-size: 15px;
    background-color: rgb(251, 49, 49);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    color: white;
    font-weight: 600;
    height: 25px;
    width: 130px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 55px;
    right: 175px;
}
.delete-all-btn:hover {
    height: 30px;
    min-width: 135;
    font-size: 18px;
}

.new-btn a {
    text-decoration: none;
    color: white;
}

.new-product-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.added-second-user {
    display: flex;
    flex-direction: column;
}

.select-filter-div {
    position: absolute;
    right:380px;
    top:125px;
}

@media screen and (max-width: 800px) {
    button {
       display: inline-block;
    }
}

@media screen and (max-width: 700px) {
    .buttons {
       display: inline-block;
       flex-wrap: wrap;
       flex-direction: column;
       flex: 1;
    }
    .right-side{
        width: 25%;
    }
    .main-div label{
        position: absolute;
        top: 80px;
        left: 50px;
    }
}