html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E5EDF5;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    min-height: 75px;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
button {
    cursor: pointer;
}

#products-btn {
    background:transparent;
    border: 1.5px solid #1DD1A1;
    color: #1DD1A1;
    margin-right: 10px;
}
span,p {
    color: black;
}

.main-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.select-filter{
    height: 35px;
    color: #8d8d8d;
    margin-left: 10px;
}

.select-filter option {
    padding: 10px;
}
.select-filter-div {
    margin-right: -500px;
}

.main-div h1 {
    margin-left: 140px;
    margin-top: 40px;
}

.new-btn {
    position: fixed;
    bottom: 100px;
    right: 155px; 
    border: none;
    font-size: 15px;
    background-color: #576574;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    color: white;
    font-weight: 600;
    height: 50px;
    min-width: 10%;
    text-transform: uppercase;
    padding: 0px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.delete-all-btn {
    border: none;
    font-size: 15px;
    background-color: #576574;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    color: white;
    font-weight: 600;
    height: 25px;
    width: 130px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-right: 120px;
}
.new-btn a {
    text-decoration: none;
    color: white;
}

.new-product-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 800px) {
    button {
       display: inline-block;
    }
}

@media screen and (max-width: 700px) {
    .buttons {
       display: inline-block;
       flex-wrap: wrap;
       flex-direction: column;
       flex: 1;
    }
    .right-side{
        width: 25%;
    }
    .main-div label{
        position: absolute;
        top: 80px;
        left: 50px;
    }
}